<title>项目管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a>
            <cite>系统管理</cite>
        </a>
        <a>
            <cite>项目管理</cite>
        </a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-msp-project-form">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">编号</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="projectNo" placeholder="请输入编号" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">项目</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="projectName" placeholder="请输入项目"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">分类</label>
                    <div class="layui-input-inline">
                        <select id="LAY-msp-project-attrId" name="attrId">
                            <option value="">不限</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline" style="vertical-align: bottom;">
                    <button class="layui-btn" id="LAY-msp-project-search" lay-filter="LAY-msp-project-search"
                            lay-submit>搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-msp-project-add">添加</button>
            </div>

            <table id="LAY-msp-project-table" lay-filter="LAY-msp-project-table"></table>

            <script id="imageTpl" type="text/html">
                <img style="height: 100%;" src="{{ '/api' + d.projectImage }}" alt="" lay-event="img">
            </script>
            <script id="LAY-msp-project-toolbar" type="text/html">
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'table', 'upload', 'tinymce'], function () {
        let $ = layui.$,
            view = layui.view,
            admin = layui.admin,
            form = layui.form,
            table = layui.table;
        let upload = layui.upload;
        let tinymce = layui.tinymce;

        function filterArray(data, parent) {
            var tree = [];
            var temp;
            for (var i = 0; i < data.length; i++) {
                if (data[i].attrParentId == parent) {
                    var obj = data[i];
                    temp = filterArray(data, data[i].id);
                    if (temp.length > 0) {
                        obj.subs = temp;
                    }
                    tree.push(obj);
                }
            }
            return tree;
        }

        // 获取分类列表
        let attrList;
        admin.req({
            url: '/api/admin/msp/attr/type/project',
            data: {},
            done: function (res) {
                attrList = filterArray(res.data, 0);

                for (let i = 0; i < attrList.length; i++) {
                    let current = attrList[i];
                    $('#LAY-msp-project-attrId').append('<option disabled value="' + current.id + '">' + current.attrName + '</option>');
                    console.log(current.subs);
                    for (let i1 = 0; i1 < current.subs.length; i1++) {
                        let current1 = current.subs[i1];
                        $('#LAY-msp-project-attrId').append('<option value="' + current1.id + '">' + current1.attrName + '</option>')
                    }
                }

                // 表单渲染
                form.render('select', 'LAY-msp-project-form');
            }
        });

        // 表单渲染
        form.render(null, 'LAY-msp-project-form');

        // 表单监听 搜索按钮
        form.on('submit(LAY-msp-project-search)', function (obj) {
            // 执行重载
            table.reload('LAY-msp-project-table', {
                where: obj.field
            });
        });

        // 表格渲染
        table.render({
            elem: '#LAY-msp-project-table',
            url: '/api/admin/msp/project',
            cols: [[
                {title: '图片', templet: '#imageTpl'},
                {title: '编号', field: 'projectNo'},
                {title: '项目', field: 'projectName'},
                {title: '售价', field: 'projectPrice'},
                {title: '排序数字', field: 'sortNumber'},
                {title: '操作', align: 'center', toolbar: '#LAY-msp-project-toolbar'}
            ]],
            page: true,
            text: {none: '暂无相关数据！'}
        });

        // 表格监听 工具条
        table.on('tool(LAY-msp-project-table)', function (obj) {
            let data = obj.data;
            // 图片
            if (obj.event === 'img') {
                layer.photos({
                    photos: {data: [{src: '/api' + data.image}]}
                });
            }
            // 修改
            if (obj.event === 'edit') {
                data.FORM_TYPE = 'put';
                openMspShopPopup(data);
            }
        });

        // 监听 添加按钮
        $('#LAY-msp-project-add').on('click', function () {
            openMspShopPopup({FORM_TYPE: 'post'});
        });

        // 打开项目详情
        function openMspShopPopup(data) {
            data.attrList = attrList;

            admin.popup({
                title: '项目详情',
                area: ['907px', ''],
                offset: '10px',
                id: 'LAY-msp-project-popup',
                success: function (layero, index) {
                    console.log(data);
                    view(this.id).render('msp/project/form', data).done(function () {
                        let formData = new FormData();
                        // 上传渲染
                        upload.render({
                            elem: '#LAY-msp-project-upload',
                            auto: false,
                            accept: 'images',
                            acceptMime: 'image/*',
                            choose: function (obj) {
                                // 预读本地文件示例，不支持ie8
                                obj.preview(function (index, file, result) {
                                    formData.set('imageFile', file);
                                    // 图片链接（base64）
                                    $('#LAY-msp-project-image').attr('src', result);
                                });
                            }
                        });

                        var multiple_images = [];
                        if (!!data && !!data.projectBanner) {
                            multiple_images = data.projectBanner.split(";");
                        }
                        upload.render({
                            elem: '#LAY-msp-project-banner',
                            multiple: true,
                            auto: false,
                            accept: 'images',
                            acceptMime: 'image/*',
                            choose: function (obj) {//预读本地文件示例，不支持ie8
                                obj.preview(function (index, file, result) {
                                    $('#div-slide_show').append('<a><img src="' + result + '" alt="' + file.name
                                        + '" title="点击删除" class="layui-upload-img" width="160" height="160" name="delMultipleImgs"></a>');
                                    multiple_images.push(file);
                                });
                            }
                        });

                        $(document).on("click", "[name=delMultipleImgs]", function (e) {
                            var this_img = $(this);
                            var subscript = $("#div-slide_show img").index(this_img); //获取下标
                            this_img.parent().remove(); //删除图片
                            multiple_images.splice(subscript, 1); //删除数组
                            multiple_images.sort(); //重新排序

                        });

                        $(document).on("click", "#LAY-msp-project-upload-del", function (event) {
                            $('#LAY-msp-project-image').attr('src', ' ');
                            formData.set('imageFile', '');
                        });

                        //富文本
                        let edit = tinymce.render({
                            elem: '#LAY-msp-project-richText',
                            width: 700,
                            height: 600
                        });

                        // 表单渲染
                        form.render(null, 'LAY-msp-project-form2');

                        // 表单监听 提交按钮
                        form.on('submit(LAY-msp-project-save)', function (obj) {
                            let field = obj.field; //获取提交的字段

                            let content = edit.getContent();
                            if (field.type === 'rich_text' && !content) return layer.msg('富文本不能为空', {icon: 5});

                            for (let name in field) {
                                if (name === 'projectDetail')
                                    formData.set(name, content);
                                else
                                    formData.set(name, field[name]);
                            }

                            formData.delete('bannerFiles');
                            multiple_images.forEach(function (file) {
                                formData.append('bannerFiles', file, file.name);
                            });

                            formData.delete('projectBanner');
                            var projectBanner = "";
                            $('[name=projectBanner]').each(function () {
                                projectBanner += $(this).val() + ";";
                            });
                            formData.set('projectBanner', projectBanner);

                            admin.req({
                                url: '/api/admin/msp/project',
                                type: data.FORM_TYPE,
                                data: formData,
                                contentType: false,
                                processData: false,
                                done: function (res) {
                                    layer.close(index);
                                    layer.msg(res.msg, {icon: 1});
                                    $('#LAY-msp-project-search').click();
                                }
                            });
                        });


                        // 监听 返回按钮
                        $('#LAY-msp-project-popup').on('click', '#LAY-msp-project-return', function () {
                            // 执行关闭
                            layer.close(index);
                        });
                    });
                }
            });
        }

    });
</script>