<div class="layui-form" lay-filter="LAY-system-company-form2" style="padding: 20px 40px 0 0;">

    <div class="layui-form-item">
        <label class="layui-form-label">公司编码</label>
        <div class="layui-input-block">
            <script template type="text/html">
                {{# let current = d.params.companyId || ''; }}
                {{# let attribute = current ? 'readonly' : ''; }}
                <input type="text" name="companyId" value="{{ current }}" lay-verify="required" placeholder="请输入公司编码"
                       autocomplete="off" class="layui-input" {{ attribute }}>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <input type="text" name="companyName" value="{{ d.params.companyName || '' }}" lay-verify="required"
                       placeholder="请输入公司名称" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">官方电话</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <input type="text" name="officialPhone" value="{{ d.params.officialPhone || '' }}" lay-verify="required"
                       placeholder="请输入官方电话" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序数字</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <input type="text" name="sortNumber" value="{{ d.params.sortNumber || '' }}" lay-verify="number"
                       placeholder="请输入排序数字" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin-left: 40px;">
        <input class="layui-btn" lay-filter="LAY-system-company-save" lay-submit readonly type="button" value="保存">
        <input class="layui-btn layui-btn-primary" id="LAY-system-company-return" readonly type="button" value="返回">
    </div>
</div>
