<title>快递公司</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a><cite>系统管理</cite></a>
        <a><cite>快递公司</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-system-company-form">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">公司编码</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="companyId" placeholder="请输入公司编码"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">公司名称</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="companyName" placeholder="请输入公司名称"
                               type="text">
                    </div>
                </div>

                <div class="layui-inline" style="vertical-align: bottom;">
                    <button class="layui-btn" id="LAY-system-company-search" lay-filter="LAY-system-company-search"
                            lay-submit>搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-system-company-add">添加</button>
            </div>

            <table id="LAY-system-company-table" lay-filter="LAY-system-company-table"></table>

            <script id="LAY-system-company-toolbar" type="text/html">
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'tree', 'table'], function () {
        let $ = layui.$,
            view = layui.view,
            admin = layui.admin,
            form = layui.form,
            table = layui.table;

        // 表单渲染
        form.render(null, 'LAY-system-company-form');

        // 表单监听 搜索按钮
        form.on('submit(LAY-system-company-search)', function (obj) {
            // 执行重载
            table.reload('LAY-system-company-table', {
                where: obj.field
            });
        });

        // 表格渲染
        table.render({
            elem: '#LAY-system-company-table',
            url: '/api/admin/system/companies',
            cols: [[
                {title: '公司编码', field: 'companyId'},
                {title: '公司名称', field: 'companyName'},
                {title: '官方电话', field: 'officialPhone'},
                {title: '排序数字', field: 'sortNumber'},
                {title: '操作', align: 'center', toolbar: '#LAY-system-company-toolbar'}
            ]],
            page: true,
            text: {none: '暂无相关数据！'}
        });

        // 表格监听 工具条
        table.on('tool(LAY-system-company-table)', function (obj) {
            let data = obj.data;
            // 修改
            if (obj.event === 'edit') {
                data.FORM_TYPE = 'put';
                // 打开公司详情
                openUserRolePopup(data);
            }
        });

        // 监听 添加按钮
        $('#LAY-system-company-add').on('click', function () {
            // 打开公司详情
            openUserRolePopup({FORM_TYPE: 'post'});
        });

        // 打开公司详情
        function openUserRolePopup(data) {
            admin.popup({
                title: '公司详情',
                area: ['372px', ''],
                offset: '5px',
                id: 'LAY-system-company-popup',
                success: function (layero, index) {
                    view(this.id).render('system/company/form', data).done(function () {
                        // 表单渲染
                        form.render(null, 'LAY-system-company-form2');

                        // 表单监听 提交按钮
                        form.on('submit(LAY-system-company-save)', function (obj) {
                            admin.req({
                                url: '/api/admin/system/companies',
                                type: data.FORM_TYPE,
                                data: obj.field,
                                done: function (res) {
                                    layer.close(index);
                                    layer.msg(res.msg, {icon: 1});
                                    $('#LAY-system-company-search').click();
                                }
                            });
                        });

                        // 监听 返回按钮
                        $('#LAY-system-company-popup').on('click', '#LAY-system-company-return', function () {
                            // 执行关闭
                            layer.close(index);
                        });
                    });
                }
            });
        }
    });
</script>