<div class="layui-form" lay-filter="LAY-msp-shop-form2" style="padding: 20px 40px 0 0;">
    <script template type="text/html">
        <input type="hidden" name="id" value="{{ d.params.id || '' }}">
    </script>

    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">店名</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="shopName" value="{{ d.params.shopName || '' }}" lay-verify="required"
                           maxlength="32" placeholder="请输入店名" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <script template type="text/html">
            <div class="layui-form-item">
                <label class="layui-form-label">加盟商</label>
                <div class="layui-input-block">
                    <select name="shopParentId2">
                        <option>请选择</option>
                        {{# let userPidData = d.params.userPidData; }}
                        {{# for (let i = 0; i < userPidData.length; i++) { }}
                        {{# let current = userPidData[i]; }}
                        {{# if (current.roleId == '1187637908193771523') { }}
                        {{# let attribute = (current.id === d.params.shopParentId2) ? 'selected' : ''; }}
                        <option value="{{ current.id }}" {{ attribute }}>{{ current.username }}</option>
                        {{# } }}
                        {{# } }}
                    </select>
                </div>
            </div>
        </script>
        <div class="layui-col-md6">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="shopNo" value="{{ d.params.shopNo || '' }}" lay-verify="required"
                           maxlength="32" placeholder="请输入编号" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">营业时间</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="shopStime" id="timeRangeSelect"
                           value="{{ d.params.shopStime || '' }} - {{ d.params.shopEtime || '' }}"
                           lay-verify="required"
                           placeholder="请选择营业时间" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">营业状态</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    {{# let current = d.params.shopState || ''; }}
                    {{# let attribute0 = (current === 'open' || !current) ? 'checked' : ''; }}
                    <input type="radio" name="shopState" value="open" title="营业中" disabled {{ attribute0 }}>
                    {{# let attribute1 = (current === 'off') ? 'checked' : ''; }}
                    <input type="radio" name="shopState" value="off" title="歇息中" disabled {{ attribute1 }}>
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">地区</label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                    <select name="areaId" lay-search>
                        <option value="">请选择所属地</option>
                        {{# let areaList0 = d.params.areaList; }}
                        {{# if(!!areaList0){ }}
                        {{# for (let i0 = 0; i0 < areaList0.length; i0++) { }}
                        <optgroup label="{{ areaList0[i0].areaName }}">

                            {{# let areaList1 = areaList0[i0].subs; }}
                            {{# if(!!areaList1){ }}
                            {{# for (let i1 = 0; i1 < areaList1.length; i1++) { }}
                            <optgroup label="{{ areaList1[i1].areaName }}">

                                {{# let areaList2 = areaList1[i1].subs; }}
                                {{# if(!!areaList2){ }}
                                {{# for (let i2 = 0; i2 < areaList2.length; i2++) { }}
                                <optgroup label="{{ areaList2[i2].areaName }}">

                                    {{# let areaList3 = areaList2[i2].subs; }}
                                    {{# if(!!areaList3){ }}
                                    {{# for (let i3 = 0; i3 < areaList3.length; i3++) { }}
                                    {{# let attribute = (d.params.areaId === areaList3[i3].id) ? 'selected' : ''; }}
                                    <option value="{{ areaList3[i3].id }}" {{ attribute }}>{{ areaList3[i3].areaName }}
                                    </option>
                                    {{# } }}
                                    {{# } }}

                                </optgroup>
                                {{# } }}
                                {{# } }}

                            </optgroup>
                            {{# } }}
                            {{# } }}

                        </optgroup>
                        {{# } }}
                        {{# } }}
                    </select>
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="shopAddr" value="{{ d.params.shopAddr || '' }}" lay-verify="required"
                           maxlength="50" placeholder="请输入地址" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="shopPhone" value="{{ d.params.shopPhone || '' }}" lay-verify="phone"
                           maxlength="12" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="shopTag" value="{{ d.params.shopTag || '' }}" placeholder="请输入标签"
                           maxlength="50" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">是否推荐</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    {{# let current = d.params.shopIsRecommend || ''; }}
                    {{# let attribute0 = (current === 'yes' || !current) ? 'checked' : ''; }}
                    <input type="radio" name="shopIsRecommend" value="yes" title="是" {{ attribute0 }}>
                    {{# let attribute1 = (current === 'no') ? 'checked' : ''; }}
                    <input type="radio" name="shopIsRecommend" value="no" title="否" {{ attribute1 }}>
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">是否热门</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    {{# let current = d.params.shopIsHot || ''; }}
                    {{# let attribute0 = (current === 'yes' || !current) ? 'checked' : ''; }}
                    <input type="radio" name="shopIsHot" value="yes" title="是" {{ attribute0 }}>
                    {{# let attribute1 = (current === 'no') ? 'checked' : ''; }}
                    <input type="radio" name="shopIsHot" value="no" title="否" {{ attribute1 }}>
                </script>
            </div>
        </div>

        <div class="layui-col-md6">
            <label class="layui-form-label">排序数字</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="sortNumber" value="{{ d.params.sortNumber || '' }}" lay-verify="number"
                           placeholder="请输入排序数字" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">预览图</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <img src="{{ '/api' + d.params.shopImage }}" alt="" width="160" height="160" id="LAY-msp-shop-image">
                <button type="button" class="layui-btn layui-btn-normal" style="margin-top: 84px;"
                        id="LAY-msp-shop-upload">选择图片
                </button>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">轮播图</label>
        <div class="layui-upload">
            <script template type="text/html">
                <button type="button" class="layui-btn" id="LAY-msp-shop-banner">多图片上传</button>
                <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览：
                    <div class="layui-upload-list" id="div-slide_show">
                        {{# let current = d.params.shopBanner || ''; }}
                        {{# if(!!current){ }}
                        {{# let banners = current.split(';'); }}
                        {{# for (let i = 0; i < banners.length; i++) { }}
                        <a>
                            <img src="{{ '/api' +  banners[i] }}" alt="{{ '/api' + banners[i] }}"
                                 title="点击删除" class="layui-upload-img" width="160" height="160" name="delMultipleImgs">
                            <input type="hidden" name="shopBanner" value="{{ banners[i] }}"/>
                        </a>
                        {{# } }}
                        {{# } }}
                    </div>
                </blockquote>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form-item rich_text"
             id="LAY-msp-shop-richTextDiv">
            <label class="layui-form-label">富文本</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <textarea id="LAY-msp-shop-richText" name="shopDetail">{{ d.params.shopDetail || '' }}</textarea>
                </script>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin-left: 40px;">
        <script template type="text/html">
            <input type="button" value="保存" class="layui-btn" readonly lay-submit lay-filter="LAY-msp-shop-save">
            <input type="button" value="返回" class="layui-btn layui-btn-primary" readonly id="LAY-msp-shop-return">
        </script>
    </div>
</div>
