<title>店铺管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a>
            <cite>系统管理</cite>
        </a>
        <a>
            <cite>店铺管理</cite>
        </a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-msp-shop-form">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">编号</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="no" placeholder="请输入编号" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">店名</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="shopName" placeholder="请输入店名" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">营业状态</label>
                    <div class="layui-input-inline">
                        <select name="state">
                            <option value="">不限</option>
                            <option value="open">营业</option>
                            <option value="off">歇息</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">是否热门</label>
                    <div class="layui-input-inline">
                        <select name="isHot">
                            <option value="">不限</option>
                            <option value="yes">是</option>
                            <option value="no">否</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline" style="vertical-align: bottom;">
                    <button class="layui-btn" id="LAY-msp-shop-search" lay-filter="LAY-msp-shop-search"
                            lay-submit>搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-msp-shop-add">添加</button>
            </div>

            <table id="LAY-msp-shop-table" lay-filter="LAY-msp-shop-table"></table>

            <script id="imageTpl" type="text/html">
                <img style="height: 100%;" src="{{ '/api' + d.image }}" alt="" lay-event="img">
            </script>
            <script id="stateTpl" type="text/html">
                {{# let state = d.state; }}
                {{# let stateFlag = d.stateFlag; }}
                {{# if (state === 'open') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">营业中</button>
                {{# } else if (state === 'off') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">歇息中</button>
                {{# if (stateFlag === 'manual') { }}<em style="font-size: 1px;color: #5FB878;">手动</em>{{# } }}
                {{# } else { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">未知</button>
                {{# } }}
            </script>
            <script id="isHotTpl" type="text/html">
                {{# let isHot = d.isHot; }}
                {{# if (isHot === 'yes') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">是</button>
                {{# } else if (isHot === 'no') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">否</button>
                {{# } else { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">未知</button>
                {{# } }}
            </script>
            <script id="LAY-msp-shop-toolbar" type="text/html">
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
                {{# let state = d.state; }}
                {{# if (state === 'open') { }}
                <a class="layui-btn layui-btn-xs layui-btn-checked" lay-event="off">进入歇息</a>
                {{# } else  { }}
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="open">开始营业</a>
                {{# } }}
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'table', 'upload', 'laydate', 'tinymce', 'layer'], function () {
        let $ = layui.$,
            view = layui.view,
            admin = layui.admin,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;
        let upload = layui.upload;
        let tinymce = layui.tinymce;
        var layer = layui.layer;

        // 表单渲染
        form.render(null, 'LAY-msp-shop-form');

        // 表单监听 搜索按钮
        form.on('submit(LAY-msp-shop-search)', function (obj) {
            // 执行重载
            table.reload('LAY-msp-shop-table', {
                where: obj.field
            });
        });

        // 表格渲染
        table.render({
            elem: '#LAY-msp-shop-table',
            url: '/api/admin/msp/shop',
            cols: [[
                {title: '图片', templet: '#imageTpl'},
                {title: '编号', field: 'no'},
                {title: '店名', field: 'shopName'},
                {title: '地址', field: 'addr'},
                {title: '联系电话', field: 'phone'},
                {title: '营业状态', templet: '#stateTpl'},
                {title: '是否热门', templet: '#isHotTpl'},
                {title: '开店时间', field: 'initTime'},
                {title: '排序数字', field: 'sortNumber'},
                {title: '操作', align: 'center', toolbar: '#LAY-msp-shop-toolbar'}
            ]],
            page: true,
            text: {none: '暂无相关数据！'}
        });

        // 表格监听 工具条
        table.on('tool(LAY-msp-shop-table)', function (obj) {
            let data = obj.data;
            console.log(data);
            // 图片
            if (obj.event === 'img') {
                layer.photos({
                    photos: {data: [{src: '/api' + data.image}]}
                });
            }
            // 修改
            if (obj.event === 'edit') {
                data.FORM_TYPE = 'put';
                // 打开身份详情
                openMspShopPopup(data);
            }
            // 修改状态
            if (obj.event === 'open') {
                changeShopState({id: data.id, state: 'open'});
            }
            if (obj.event === 'off') {
                changeShopState({id: data.id, state: 'off'});
            }
        });

        // 获取用户数据
        let userPidData;
        admin.req({
            url: '/api/admin/user/backs',
            data: {},
            done: function (res) {
                userPidData = res.data;

                for (let i = 0; i < userPidData.length; i++) {
                    let current = userPidData[i];
                    $('#LAY-user-back-userPid').append('<option value="' + current.id + '">' + current.username + '</option>')
                }

                // 表单渲染
                form.render('select', 'LAY-user-back-form');
            }
        });

        // 打开店铺详情
        function changeShopState(data) {
            var content = '确认更开始营业？';
            if (data.state === 'off')
                content = '确认要停止营业（手动歇业需要手动改回营业状态）？';
            layer.open({
                title: '更改营业状态？',
                content: content,
                btn: ['确定', '取消'],
                yes: function (index, layero) {
                    admin.req({
                        url: '/api/admin/msp/shop/state',
                        type: 'put',
                        data: {
                            id: data.id,
                        },
                        done: function (res) {
                            layer.close(index);
                            layer.msg(res.msg, {icon: 1});
                            $('#LAY-msp-shop-search').click();
                        }
                    })
                    ;
                }
            });
        }

        // 监听 添加按钮
        $('#LAY-msp-shop-add').on('click', function () {
            // 打开店铺详情
            openMspShopPopup({FORM_TYPE: 'post', parentId: '0'});
        });

        function filterArray(data, parent) {
            var tree = [];
            var temp;
            for (var i = 0; i < data.length; i++) {
                if (data[i].parentId == parent) {
                    var obj = data[i];
                    temp = filterArray(data, data[i].id);
                    if (temp.length > 0) {
                        obj.subs = temp;
                    }
                    tree.push(obj);
                }
            }
            return tree;
        }

        // 获取地区列表
        let areaList;
        admin.req({
            url: '/api/admin/system/area',
            data: {},
            done: function (res) {
                areaList = filterArray(res.data, 0);
            }
        });

        // 打开店铺详情
        function openMspShopPopup(data) {
            data.areaList = areaList;
            data.userPidData = userPidData;
            admin.popup({
                title: '店铺详情',
                area: ['907px', ''],
                offset: '100px',
                id: 'LAY-msp-shop-popup',
                success: function (layero, index) {
                    console.log(data);
                    view(this.id).render('msp/shop/form', data).done(function () {
                        let formData = new FormData();
                        // 上传渲染
                        upload.render({
                            elem: '#LAY-msp-shop-upload',
                            auto: false,
                            accept: 'images',
                            acceptMime: 'image/*',
                            choose: function (obj) {
                                // 预读本地文件示例，不支持ie8
                                obj.preview(function (index, file, result) {
                                    formData.set('imageFile', file);
                                    // 图片链接（base64）
                                    $('#LAY-msp-shop-image').attr('src', result);
                                });
                            }
                        });

                        //富文本
                        let edit = tinymce.render({
                            elem: '#LAY-msp-shop-richText',
                            width: 700,
                            height: 600
                        });

                        //时间选择器
                        laydate.render({
                            elem: '#timeRangeSelect'
                            , type: 'time'
                            , range: true //或 range: '~' 来自定义分割字符
                        });

                        // 表单渲染
                        form.render(null, 'LAY-msp-shop-form2');


                        // 表单监听 提交按钮
                        form.on('submit(LAY-msp-shop-save)', function (obj) {
                            let field = obj.field; //获取提交的字段

                            let content = edit.getContent();
                            if (field.type === 'rich_text' && !content) return layer.msg('富文本不能为空', {icon: 5});

                            for (let name in field) {
                                if (name === 'detail')
                                    formData.set(name, content);
                                else
                                    formData.set(name, field[name]);
                            }

                            admin.req({
                                url: '/api/admin/msp/shop',
                                type: data.FORM_TYPE,
                                data: formData,
                                contentType: false,
                                processData: false,
                                done: function (res) {
                                    layer.close(index);
                                    layer.msg(res.msg, {icon: 1});
                                    $('#LAY-msp-shop-search').click();
                                }
                            });
                        });


                        // 监听 返回按钮
                        $('#LAY-msp-shop-popup').on('click', '#LAY-msp-shop-return', function () {
                            // 执行关闭
                            layer.close(index);
                        });
                    });
                }
            });
        }

    });
</script>