<div class="layui-form" lay-filter="LAY-content-group-form2" style="padding: 20px 40px 0 0;">
    <script template type="text/html">
        <input type="hidden" name="groupId" value="{{ d.params.groupId || '' }}">
    </script>

    <div class="layui-form-item">
        <label class="layui-form-label">缩略图片</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <img src="{{ '/api' + d.params.smallImage }}" alt="" width="60" height="60"
                     id="LAY-content-group-image">

                <button type="button" class="layui-btn layui-btn-normal" style="margin-top: 22px;"
                        id="LAY-content-group-upload">选择图片
                </button>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">详情图片</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <img src="{{ '/api' + d.params.largeImage }}" alt="" width="262" height="122"
                     id="LAY-content-group-image2">

                <button type="button" class="layui-btn layui-btn-normal" style="margin-top: 84px;"
                        id="LAY-content-group-upload2">选择图片
                </button>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">圈子名称</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <input type="text" name="groupName" value="{{ d.params.groupName || '' }}" lay-verify="required"
                       placeholder="请输入圈子名称" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">圈子介绍</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <textarea type="text" name="groupText" lay-verify="required" placeholder="请输入圈子介绍" autocomplete="off"
                          class="layui-textarea">{{ d.params.groupText || '' }}</textarea>
            </script>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin-left: 40px;">
        <script template type="text/html">
            <input value="保存" class="layui-btn" readonly lay-submit lay-filter="LAY-content-group-save">
            <input value="返回" class="layui-btn layui-btn-primary" readonly id="LAY-content-group-return">
        </script>
    </div>
</div>
