<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.msp.mapper.OrderMapper">
    <resultMap id="OrderResultMap" type="com.project.msp.entity.Order">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
        <result column="servicer_id" jdbcType="VARCHAR" property="servicerId"/>
        <result column="order_state" jdbcType="VARCHAR" property="orderState"/>
        <result column="order_origin" jdbcType="VARCHAR" property="orderOrigin"/>
        <result column="order_pre_time" jdbcType="TIMESTAMP" property="orderPreTime"/>
        <result column="order_pay_time" jdbcType="TIMESTAMP" property="orderPayTime"/>
        <result column="order_service_time" jdbcType="TIMESTAMP" property="orderServiceTime"/>
        <result column="order_succ_time" jdbcType="TIMESTAMP" property="orderSuccTime"/>
        <result column="order_eva_time" jdbcType="TIMESTAMP" property="orderEvaTime"/>
        <result column="order_remark" jdbcType="VARCHAR" property="orderRemark"/>
        <result column="order_base_amount" jdbcType="DECIMAL" property="orderBaseAmount"/>
        <result column="order_pay_amount" jdbcType="DECIMAL" property="orderPayAmount"/>
        <result column="order_credit_amount" jdbcType="DECIMAL" property="orderCreditAmount"/>
        <result column="order_pay_type" jdbcType="VARCHAR" property="orderPayType"/>
        <result column="order_project_image" jdbcType="VARCHAR" property="orderProjectImage"/>
        <result column="order_project_name" jdbcType="VARCHAR" property="orderProjectName"/>
        <result column="order_project_tag" jdbcType="VARCHAR" property="orderProjectTag"/>
        <result column="order_project_price" jdbcType="DECIMAL" property="orderProjectPrice"/>
        <result column="order_shop_name" jdbcType="VARCHAR" property="orderShopName"/>
        <result column="order_shop_addr" jdbcType="VARCHAR" property="orderShopAddr"/>
        <result column="order_shop_phone" jdbcType="VARCHAR" property="orderShopPhone"/>
        <result column="order_servicer_name" jdbcType="VARCHAR" property="orderServicerName"/>
        <result column="sort_number" jdbcType="INTEGER" property="sortNumber"/>
        <result column="is_display" jdbcType="VARCHAR" property="isDisplay"/>
        <result column="init_time" jdbcType="TIMESTAMP" property="initTime"/>
        <result column="init_addr" jdbcType="VARCHAR" property="initAddr"/>
        <result column="init_user" jdbcType="VARCHAR" property="initUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_addr" jdbcType="VARCHAR" property="updateAddr"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>

        <association property="user" resultMap="UserResultMap"/>
        <association property="project" resultMap="ProjectResultMap"/>
        <association property="shop" resultMap="ShopResultMap"/>
        <association property="servicer" resultMap="SysUserResultMap"/>
    </resultMap>
    <resultMap id="UserResultMap" type="com.project.user.entity.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="signature" jdbcType="VARCHAR" property="signature"/>
        <result column="domain" jdbcType="VARCHAR" property="domain"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="recent_login" jdbcType="TIMESTAMP" property="recentLogin"/>
        <result column="avatar_path" jdbcType="VARCHAR" property="avatarPath"/>
        <result column="back_ground_path" jdbcType="VARCHAR" property="backGroundPath"/>
        <result column="user_level" jdbcType="INTEGER" property="userLevel"/>
        <result column="vip_level" jdbcType="INTEGER" property="vipLevel"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="ry_token" jdbcType="VARCHAR" property="ryToken"/>
        <result column="user_pid0" jdbcType="VARCHAR" property="userPid0"/>
        <result column="user_pid1" jdbcType="VARCHAR" property="userPid1"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
    </resultMap>
    <resultMap id="ProjectResultMap" type="com.project.msp.entity.Project">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="attr_id" jdbcType="VARCHAR" property="attrId"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="project_no" jdbcType="VARCHAR" property="projectNo"/>
        <result column="project_image" jdbcType="VARCHAR" property="projectImage"/>
        <result column="project_banner" jdbcType="VARCHAR" property="projectBanner"/>
        <result column="project_tag" jdbcType="VARCHAR" property="projectTag"/>
        <result column="project_base_price" jdbcType="DECIMAL" property="projectBasePrice"/>
        <result column="project_price" jdbcType="DECIMAL" property="projectPrice"/>
        <result column="sort_number" jdbcType="INTEGER" property="sortNumber"/>
        <result column="is_display" jdbcType="VARCHAR" property="isDisplay"/>
        <result column="init_time" jdbcType="TIMESTAMP" property="initTime"/>
        <result column="init_addr" jdbcType="VARCHAR" property="initAddr"/>
        <result column="init_user" jdbcType="VARCHAR" property="initUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_addr" jdbcType="VARCHAR" property="updateAddr"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <resultMap id="ShopResultMap" type="com.project.msp.entity.Shop">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="shop_parent_id0" jdbcType="VARCHAR" property="shopParentId0"/>
        <result column="shop_parent_id1" jdbcType="VARCHAR" property="shopParentId1"/>
        <result column="shop_parent_id2" jdbcType="VARCHAR" property="shopParentId2"/>
        <result column="shop_parent_id3" jdbcType="VARCHAR" property="shopParentId3"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="shop_no" jdbcType="VARCHAR" property="shopNo"/>
        <result column="shop_image" jdbcType="VARCHAR" property="shopImage"/>
        <result column="shop_banner" jdbcType="VARCHAR" property="shopBanner"/>
        <result column="shop_tag" jdbcType="VARCHAR" property="shopTag"/>
        <result column="shop_state" jdbcType="VARCHAR" property="shopState"/>
        <result column="shop_state_flag" jdbcType="VARCHAR" property="shopStateFlag"/>
        <result column="shop_stime" jdbcType="VARCHAR" property="shopStime"/>
        <result column="shop_etime" jdbcType="VARCHAR" property="shopEtime"/>
        <result column="shop_addr" jdbcType="VARCHAR" property="shopAddr"/>
        <result column="shop_phone" jdbcType="VARCHAR" property="shopPhone"/>
        <result column="shop_is_hot" jdbcType="VARCHAR" property="shopIsHot"/>
        <result column="shop_is_recommend" jdbcType="VARCHAR" property="shopIsRecommend"/>
        <result column="sort_number" jdbcType="INTEGER" property="sortNumber"/>
        <result column="is_display" jdbcType="VARCHAR" property="isDisplay"/>
        <result column="init_time" jdbcType="TIMESTAMP" property="initTime"/>
        <result column="init_addr" jdbcType="VARCHAR" property="initAddr"/>
        <result column="init_user" jdbcType="VARCHAR" property="initUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_addr" jdbcType="VARCHAR" property="updateAddr"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
    <resultMap id="SysUserResultMap" type="com.project.system.entity.SysUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="user_pid0" jdbcType="VARCHAR" property="userPid0"/>
        <result column="user_pid1" jdbcType="VARCHAR" property="userPid1"/>
        <result column="user_pid2" jdbcType="VARCHAR" property="userPid2"/>
        <result column="shop_id" jdbcType="VARCHAR" property="shopId"/>
    </resultMap>

    <select id="list" resultMap="OrderResultMap">
        SELECT
        e.*,u.*,o.*,s.*,p.*, su.username servicername
        FROM
        msp_order e
        LEFT JOIN USER u ON e.user_id = u.user_id
        LEFT JOIN system_user su ON e.servicer_id = su.id
        LEFT JOIN msp_order o ON e.order_id = o.id
        LEFT JOIN msp_shop s ON e.shop_id = s.id
        LEFT JOIN msp_project p ON e.project_id = p.id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test='order.state!=null and order.state!=""'>
                AND e.state = #{order.state}
            </if>
            <if test='order.orderId!=null and order.orderId!=""'>
                AND o.id = #{order.orderId}
            </if>
            <if test='order.projectId!=null and order.projectId!=""'>
                AND p.id = #{order.projectId}
            </if>
            <if test='order.shopId!=null and order.shopId!=""'>
                AND s.id = #{order.shopId}
            </if>
            <if test='order.servicerId!=null and order.servicerId!=" "'>
                AND su.id = #{order.servicerId}
            </if>
            <if test='order.userId!=null and order.userId!=""'>
                AND u.id = #{order.userId}
            </if>
            <if test='order.orderNo!=null and order.orderNo!=""'>
                AND o.order_no like concat('%', #{order.orderNo},'%')
            </if>
            <if test='order.projectName!=null and order.projectName!=""'>
                AND p.project_name like concat('%', #{order.projectName},'%')
            </if>
            <if test='order.shopName!=null and order.shopName!=""'>
                AND s.shop_name like concat('%', #{order.shopName},'%')
            </if>
            <if test='order.servicername!=null and order.servicername!=""'>
                AND su.username like concat('%', #{order.servicername},'%')
            </if>
            <if test='order.username!=null and order.username!=""'>
                AND u.username like concat('%', #{order.username},'%')
            </if>
        </trim>
    </select>

    <select id="pageByOrderCond" resultMap="OrderResultMap">
        SELECT
        o.*, u.*,p.*, s.*,su.*
        FROM
        msp_order o
        LEFT JOIN user u ON o.user_id = u.user_id
        LEFT JOIN msp_project p ON o.project_id = p.id
        LEFT JOIN msp_shop s ON o.shop_id = s.id
        LEFT JOIN system_user su ON o.servicer_id = su.id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test='order.id!=null and order.id!=""'>
                AND o.id = #{order.id}
            </if>
            <if test='order.orderNo!=null and order.orderNo!=""'>
                AND o.order_no like concat('%', #{order.orderNo},'%')
            </if>
            <if test='order.orderState!=null and order.orderState!=""'>
                AND o.order_state like concat('%', #{order.orderState},'%')
            </if>
            <if test='order.orderOrigin!=null and order.orderOrigin!=""'>
                AND o.order_origin like concat('%', #{order.orderOrigin},'%')
            </if>
            <if test='order.orderPayType!=null and order.orderPayType!=""'>
                AND o.order_pay_type like concat('%', #{order.orderPayType},'%')
            </if>

            <if test='order.orderProjectImage!=null and order.orderProjectImage!=""'>
                AND o.order_project_name like concat('%', #{order.orderProjectImage},'%')
            </if>
            <if test='order.orderShopName!=null and order.orderShopName!=""'>
                AND o.order_shop_name like concat('%', #{order.orderShopName},'%')
            </if>
            <if test='order.orderServicerName!=null and order.orderServicerName!=""'>
                AND o.order_servicer_Name like concat('%', #{order.orderServicerName},'%')
            </if>


            <if test='order.userId!=null and order.userId!=""'>
                AND u.id = #{order.userId}
            </if>
            <if test='order.projectId!=null and order.projectId!=""'>
                AND p.id = #{order.projectId}
            </if>
            <if test='order.shopId!=null and order.shopId!=""'>
                AND s.id = #{order.shopId}
            </if>
            <if test='order.servicerId!=null and order.servicerId!=" "'>
                AND su.id = #{order.servicerId}
            </if>
            <if test='order.username!=null and order.username!=""'>
                AND u.username like concat('%', #{order.username},'%')
            </if>
        </trim>
    </select>

</mapper>
