<div class="layui-form" lay-filter="LAY-content-theme-form2" style="padding: 20px 40px 0 0;">
    <script template type="text/html">
        <input type="hidden" name="themeId" value="{{ d.params.themeId || '' }}">
        <input type="hidden" name="parentId" value="{{ d.params.parentId || '' }}">
    </script>

    <div class="layui-form-item">
        <label class="layui-form-label">话题名称</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <input type="text" name="themeName" value="{{ d.params.themeName || '' }}" lay-verify="required"
                       placeholder="请输入话题名称" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序数字</label>
        <div class="layui-input-block">
            <script template type="text/html">
                <input type="text" name="sortNumber" value="{{ d.params.sortNumber || '' }}" lay-verify="number"
                       placeholder="请输入排序数字" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin-left: 40px;">
        <script template type="text/html">
            <input type="button" value="保存" class="layui-btn" readonly lay-submit lay-filter="LAY-content-theme-save">
            <input type="button" value="返回" class="layui-btn layui-btn-primary" readonly id="LAY-content-theme-return">
        </script>
    </div>
</div>
