.shareBtn {
    border: dotted 1px #ddd;
    display: block;
    width: 100px;
    text-align: center;
    margin: 20px auto 0 auto;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.am-share {
    font-size: 14px;
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 300ms;
    transition: transform 300ms;
    width: 100%;
    z-index: 1110;
}

.am-modal-active {
    transform: translateY(0px);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.am-modal-out {
    z-index: 1109;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

.am-share-footer .share_btn {
    color: #555;
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    padding: 0.625em 0;
    text-align: center;
    transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s;
    vertical-align: middle;
    white-space: nowrap;
    font-family: "微软雅黑";
}

.am-share-sns {
    background-color: #fff;
    padding-top: 20px;
    height: auto;
    zoom: 1;
    overflow: auto;
}

.am-share-sns a {
    color: #555;
    display: block;
    text-decoration: none;
}

.am-share-sns span {
    display: block;
}

.sharebg {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

.sharebg-active {
    opacity: 1;
    display: block;
}


/*插件*/

#nativeShare .list {
    width: 100%;
    margin: 0 auto;
}

#nativeShare .list span {
    width: 25%;
    display: inline-block;
    text-align: center;
    margin: 10px 0;
}

#nativeShare .list span i {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

#nativeShare .weibo i {
    background-image: url(../icon/weibo.png);
    background-size: cover;
}

#nativeShare .weixin i {
    background-image: url(../icon/weixin_friend.png);
    background-size: cover;
}

#nativeShare .weixin_timeline i {
    background-image: url(../icon/weixin.png);
    background-size: cover;
}

#nativeShare .qq i {
    background-image: url(../icon/qq.png);
    background-size: cover;
}

#nativeShare .qzone i {
    background-image: url(../icon/qqzone.png);
    background-size: cover;
}

#nativeShare .more i {
    background-image: url(../icon/more.png);
    background-size: cover;
}