<div class="layui-form" lay-filter="LAY-msp-search-form2" style="padding: 20px 40px 0 0;">
    <script template type="text/html">
        <input type="hidden" name="id" value="{{ d.params.id || '' }}">
        <input type="hidden" name="parentId" value="{{ d.params.parentId || '' }}">
    </script>

    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">项目</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="searchName" value="{{ d.params.searchName || '' }}" lay-verify="required"
                           maxlength="50" placeholder="请输入项目" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="searchNo" value="{{ d.params.searchNo || '' }}" lay-verify="required"
                           maxlength="50" placeholder="请输入编号" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin-left: 40px;">
        <script template type="text/html">
            <input type="button" value="保存" class="layui-btn" readonly lay-submit lay-filter="LAY-msp-search-save">
            <input type="button" value="返回" class="layui-btn layui-btn-primary" readonly id="LAY-msp-search-return">
        </script>
    </div>
</div>
