<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.stat.mapper.DailyUserMapper">

    <select id="existsLoginByUserIdAndTime" resultType="java.lang.Boolean">
        <![CDATA[

                SELECT
                    COUNT(1)
                FROM
                    daily_user
                WHERE
                    user_id = #{userId}
                    AND stat_time = #{statTime}
                    AND type = 'LOGIN'

        ]]>
    </select>

    <select id="existsOnLineByUserIdAndTime" resultType="java.lang.Boolean">
        <![CDATA[

                SELECT
                    COUNT(1)
                FROM
                    daily_user
                WHERE
                    user_id = #{userId}
                    AND stat_time = #{statTime}
                    AND type = 'ONLINE'

        ]]>
    </select>
</mapper>