<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system.mapper.BannerMapper">

    <select id="pageByBannerCond" resultType="com.project.system.entity.Banner">
        SELECT
        *
        FROM
        system_banner b
        LEFT JOIN
        system_area a on a.id = b.area_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test='banner.id!=null and banner.id!=""'>
                AND b.id = #{banner.id}
            </if>
            <if test='banner.title!=null and banner.title!=""'>
                AND b.title like concat('%', #{banner.title},'%')
            </if>
            <if test='banner.type!=null and banner.type!=""'>
                AND b.type = #{banner.type}
            </if>

            <if test='banner.areaId!=null and banner.areaId!=""'>
                AND a.id = #{banner.areaId}
            </if>
        </trim>
    </select>
</mapper>
