<style>
    .layui-form-label-second {
        float: left;
        display: block;
        font-weight: 400;
        line-height: 20px;
        text-align: right;
        padding: 9px 0px;
        position: relative;
    }
</style>
<div class="layui-form" lay-filter="LAY-msp-order-form2" style="padding: 20px 40px 0 0;">
    <script template type="text/html">
        <input type="hidden" name="id" value="{{ d.params.id || '' }}">
        <input type="hidden" name="parentId" value="{{ d.params.parentId || '' }}">
    </script>

    <div class="layui-form-item">
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">单号:</label>
                <label class="layui-form-label-second">{{ d.params.orderNo || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">下单方式:</label>
                <label class="layui-form-label-second">
                    {{# let current = d.params.orderOrigin || ''; }}
                    {{# if (current=== '0') { }} h5 
                    {{# } else { }} 未知 
                    {{# } }} </label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">下单时间:</label>
                <label class="layui-form-label-second">{{ d.params.initTime || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">订单状态:</label>
                <label class="layui-form-label-second">
                    {{# let current = d.params.orderState || ''; }}
                    {{# if (current=== '00') { }} 待付款 
                    {{# } else if (current=== '10') { }} 待服务
                    {{# } else if (current=== '20') { }} 待评价
                    {{# } else if (current=== '30') { }} 售后
                    {{# } else { }} 未知 
                    {{# } }} </label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">订单价:</label>
                <label class="layui-form-label-second">{{ d.params.orderBaseAmount || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">积分:</label>
                <label class="layui-form-label-second">{{ d.params.orderCreditAmount || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">实收款:</label>
                <label class="layui-form-label-second">{{ d.params.orderPayTime || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">支付方式:</label>
                <label class="layui-form-label-second">
                    {{# let current = d.params.orderPayType || ''; }}
                    {{# if (current=== '0') { }} 微信
                    {{# } else if (current=== '') { }} 尚未付款 
                    {{# } else { }} 未知 
                    {{# } }} </label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">付款时间:</label>
                <label class="layui-form-label-second">{{ d.params.orderPayTime || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">预约时间:</label>
                <label class="layui-form-label-second">{{ d.params.orderPreTime || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">服务时间:</label>
                <label class="layui-form-label-second">{{ d.params.orderServiceTime || '' }}</label>
            </script>
        </div>
        <div class="layui-col-md4">
            <script template type="text/html">
                <label class="layui-form-label">评价时间:</label>
                <label class="layui-form-label-second">{{ d.params.orderEvaTime || '' }}</label>
            </script>
        </div>
    </div>

    <script template type="text/html">
        <div class="layui-form-item">
            <div class="layui-collapse" lay-filter="test">
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">买家信息：{{d.params.user.username || ' ' }}</h2>
                    <div class="layui-colla-content">
                        <p> 昵称：{{d.params.user.username || ' ' }} ，电话：{{
                            d.params.user.mobile || ' ' }} </p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">项目：{{d.params.project.projectName || ' ' }} </h2>
                    <div class="layui-colla-content">
                        {{# let imageURL = d.params.project.projectImage || '/user/1141245074473861122.png'; }}
                        <img src="{{ '/api' + imageURL }}" alt="" width="88" height="88" id="LAY-user-back-avatar">
                        <p> 项目：{{d.params.project.projectName || ' ' }} 标签：{{
                            d.params.project.projectTag || ' ' }} ，单价：{{ d.params.project.projectPrice || ' ' }}</p>
                    </div>
                </div>
                <div class="layui-colla-item">
                    <h2 class="layui-colla-title">店铺：{{d.params.shop.shopName || ' ' }}</h2>
                    <div class="layui-colla-content">
                        <p> 铺名：{{d.params.shop.shopName || ' ' }} ，地址：{{
                            d.params.shop.shopAddr || ' ' }} ，电话：{{ d.params.shop.shopPhone || ' ' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">预约时间</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="orderPreTime" id="orderPreTime" value="{{ d.params.orderPreTime || '' }}"
                           placeholder="请选择预约时间" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label-second" style="color:red;">(后台手动预约时间，请自行合理安排)</label>
            <input type="button" value="更新预约时间" class="layui-btn" readonly
                   lay-filter="LAY-msp-order-savePreTime">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">艺人</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <select name="servicerId" id="servicerId" lay-filter="servicerIdFilter">
                        <option>请选择</option>
                        {{# let userPidData = d.params.userPidData; }}
                        {{# for (let i = 0; i < userPidData.length; i++) { }}
                        {{# let current = userPidData[i]; }}
                        {{# let attribute = (current.id === d.params.servicerId) ? 'selected' : ''; }}
                        <option value="{{ current.id }}" {{ attribute }}>{{ current.username }}</option>
                        {{# } }}
                    </select>
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label-second" style="color:red;">(选择艺人即服务完成)</label>
            <input type="button" value="完成服务" class="layui-btn" readonly
                   lay-filter="LAY-msp-order-saveServicer">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <script template type="text/html">
                    <input type="text" name="orderRemark" value="{{ d.params.orderRemark || '' }}" lay-verify="required"
                           placeholder="请输入备注" autocomplete="off" class="layui-input">
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <input type="button" value="保存备注" class="layui-btn" readonly lay-submit lay-filter="LAY-msp-order-save">
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin-left: 40px;">
        <script template type="text/html">
            <input type="button" value="返回" class="layui-btn layui-btn-primary" readonly id="LAY-msp-order-return">
        </script>
    </div>
</div>
