<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.user.mapper.UserMapper">

    <select id="list" resultType="com.project.user.entity.User">
        SELECT
            a.*, s.*, a0.username userPname0,
            a1.username userPname1
        FROM
            USER a
        LEFT JOIN USER a0 ON a.user_id = a0.user_pid1
        LEFT JOIN USER a1 ON a0.user_id = a1.user_pid1
        LEFT JOIN msp_shop s ON a.shop_id = s.id
    </select>

    <select id="pageByUserCond" resultType="com.project.user.entity.User">
        SELECT
            a.*, s.*, a0.username userPname0,
            a1.username userPname1
        FROM
            USER a
        LEFT JOIN USER a0 ON a.user_id = a0.user_pid1
        LEFT JOIN USER a1 ON a0.user_id = a1.user_pid1
        LEFT JOIN msp_shop s ON a.shop_id = s.id
    </select>

    <select id="selectUserByWord" resultType="com.project.user.entity.User">
        SELECT
        *
        FROM
            user a
        WHERE 
        	a.username LIKE CONCAT('%', #{word}, '%')
    </select>

    <select id="selectUserByName" resultType="com.project.user.entity.User">
        SELECT
        	*
        FROM
            user a
        WHERE 
        	a.username = #{name}
    </select>

</mapper>
