<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.user.mapper.UserAddrMapper">

    <select id="selectByUserIdAndIsDefaultTrue" resultType="com.project.user.entity.UserAddr">
        SELECT
            addr_id,
            user_id,
            full_name,
            mobile,
            country,
            province,
            city,
            district,
            contact_addr,
            is_default
        FROM
            user_addr
        WHERE
            user_id = #{userId}
            AND is_default = #{isDefault}        
    </select>
</mapper>
