<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.user.mapper.UserAuthMapper">

    <select id="selectByAuthTypeAndAuthSecret" resultType="com.project.user.entity.UserAuth">
        SELECT
            *
        FROM
            user_auth
        WHERE
        	auth_type = #{authType}
        	AND auth_secret = #{authSecret}
    </select>

    <select id="selectByMobileAndAuthType" resultType="com.project.user.entity.UserAuth">
        SELECT
            b.*
        FROM
            user a
                LEFT JOIN
            user_auth b ON a.user_id = b.user_id
        WHERE
            a.mobile = #{mobile}
            AND b.auth_type = #{authType}
    </select>

    <select id="selectByUserIdAndAuthType" resultType="com.project.user.entity.UserAuth">
        SELECT
            *
        FROM
            user_auth
        WHERE
            user_id = #{userId}
            AND auth_type = #{authType}
    </select>

    <update id="update">
        UPDATE
            user_auth
        SET
            auth_secret = #{authSecret}
        WHERE
            user_id = #{userId}
            AND auth_type = #{authType}
    </update>
</mapper>
