<title>分类管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a>
            <cite>系统管理</cite>
        </a>
        <a>
            <cite>分类管理</cite>
        </a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-msp-attr-form">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">分类名</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="attrName" placeholder="请输入分类名" type="text">
                    </div>
                </div>

                <div class="layui-inline" style="vertical-align: bottom;">
                    <button class="layui-btn" id="LAY-msp-attr-search" lay-filter="LAY-msp-attr-search"
                            lay-submit>搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-msp-attr-add">添加</button>
            </div>

            <table id="LAY-msp-attr-table" lay-filter="LAY-msp-attr-table"></table>

            <script id="imageTpl" type="text/html">
                <img style="height: 100%;" src="{{ '/api' + d.attrImage }}" alt="" lay-event="img">
            </script>
            <script id="LAY-msp-attr-toolbar" type="text/html">
                <a class="layui-btn layui-btn-xs " lay-event="post">添加下一级</a>
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="put">修改</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'treeTable', 'upload'], function () {
        let $ = layui.$,
            view = layui.view,
            admin = layui.admin,
            form = layui.form,
            treeTable = layui.treeTable;
        let upload = layui.upload;

        // 表单渲染
        form.render(null, 'LAY-msp-attr-form');

        // 表单监听 搜索按钮
        form.on('submit(LAY-msp-attr-search)', function (obj) {
            // 执行重载
            treeTable.reload('LAY-msp-attr-table', {
                where: obj.field
            });
        });

        // 表格渲染
        treeTable.render({
            elem: '#LAY-msp-attr-table',
            url: '/api/admin/msp/attr/type/project',
            treeId: 'id',// 树形id字段名称
            treeUpId: 'attrParentId',// 树形父id字段名称
            treeShowName: 'attrName',// 以树形式显示的字段
            cols: [[
                {title: '图片', templet: '#imageTpl'},
                {title: '分类名', field: 'attrName'},
                {title: '排序数字', field: 'sortNumber'},
                {title: '操作', align: 'center', toolbar: '#LAY-msp-attr-toolbar'}
            ]],
            text: {none: '暂无相关数据！'}
        });

        // 表格监听 工具条
        treeTable.on('tool(LAY-msp-attr-table)', function (obj) {
            let data = obj.data;
            data.FORM_TYPE = obj.event;

            // 图片
            if (obj.event === 'img') {
                layer.photos({
                    photos: {data: [{src: '/api' + data.image}]}
                });
            }
            // 添加下一级
            if (obj.event === 'post') {
                openMspShopPopup({FORM_TYPE: 'post', parentId: data.id});
            }
            // 修改
            if (obj.event === 'put') {
                openMspShopPopup(data);
            }
        });

        // 监听 添加按钮
        $('#LAY-msp-attr-add').on('click', function () {
            openMspShopPopup({FORM_TYPE: 'post', attrParentId: '0', attrType: 'project'});
        });

        // 打开分类详情
        function openMspShopPopup(data) {
            admin.popup({
                title: '分类详情',
                area: ['507px', ''],
                offset: '100px',
                id: 'LAY-msp-attr-popup',
                success: function (layero, index) {
                    console.log(data);
                    view(this.id).render('msp/attr/form', data).done(function () {
                        let formData = new FormData();
                        // 上传渲染
                        upload.render({
                            elem: '#LAY-msp-attr-upload',
                            auto: false,
                            accept: 'images',
                            acceptMime: 'image/*',
                            choose: function (obj) {
                                // 预读本地文件示例，不支持ie8
                                obj.preview(function (index, file, result) {
                                    formData.set('imageFile', file);
                                    // 图片链接（base64）
                                    $('#LAY-msp-attr-image').attr('src', result);
                                });
                            }
                        });

                        // 表单渲染
                        form.render(null, 'LAY-msp-attr-form2');

                        // 表单监听 提交按钮
                        form.on('submit(LAY-msp-attr-save)', function (obj) {
                            let field = obj.field; //获取提交的字段

                            for (let name in field) {
                                formData.set(name, field[name]);
                            }

                            admin.req({
                                url: '/api/admin/msp/attr',
                                type: data.FORM_TYPE,
                                data: formData,
                                contentType: false,
                                processData: false,
                                done: function (res) {
                                    layer.close(index);
                                    layer.msg(res.msg, {icon: 1});
                                    $('#LAY-msp-attr-search').click();
                                }
                            });
                        });


                        // 监听 返回按钮
                        $('#LAY-msp-attr-popup').on('click', '#LAY-msp-attr-return', function () {
                            // 执行关闭
                            layer.close(index);
                        });
                    });
                }
            });
        }

    });
</script>