<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.manager.mapper.CareerMapper">

    <select id="selectAllCareer" resultType="com.project.manager.entity.Career">
        SELECT
            career_id,
            career_name,
            career_cert_level
        FROM
            career
    </select>


</mapper>