<title>订单管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a>
            <cite>系统管理</cite>
        </a>
        <a>
            <cite>订单管理</cite>
        </a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-msp-evaluate-form">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">用户信息</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="evaluateNo" placeholder="请输入用户信息"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">单号</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="evaluateNo" placeholder="请输入单号" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">项目名</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="projectName" placeholder="请输入项目名"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">消费店铺</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="shopName" placeholder="请输入店铺名"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">艺人信息</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="evaluateNo" placeholder="请输入艺人信息"
                               type="text">
                    </div>
                </div>

                <div class="layui-inline" style="vertical-align: bottom;">
                    <button class="layui-btn" id="LAY-msp-evaluate-search" lay-filter="LAY-msp-evaluate-search"
                            lay-submit>搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-msp-evaluate-add">添加</button>
            </div>

            <table id="LAY-msp-evaluate-table" lay-filter="LAY-msp-evaluate-table"></table>

            <script id="imageTpl" type="text/html">
                <img style="height: 100%;" src="{{ '/api' + d.projectImage }}" alt="" lay-event="img">
            </script>
            <script id="stateTpl" type="text/html">
                {{# let state = d.state; }}
                {{# if (state === '00') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">待付款</button>
                {{# } else if (state === '10') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">待服务</button>
                {{# } else if (state === '20') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">待评价</button>
                {{# } else if (state === '30') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">售后</button>
                {{# } else { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">未知</button>
                {{# } }}
            </script>
            <script id="LAY-msp-evaluate-toolbar" type="text/html">
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'table', 'element', 'laydate'], function () {
        let $ = layui.$,
            view = layui.view,
            admin = layui.admin,
            form = layui.form,
            table = layui.table;
        var element = layui.element;
        var laydate = layui.laydate;

        // 表单渲染
        form.render(null, 'LAY-msp-evaluate-form');

        // 表单监听 搜索按钮
        form.on('submit(LAY-msp-evaluate-search)', function (obj) {
            // 执行重载
            table.reload('LAY-msp-evaluate-table', {
                where: obj.field
            });
        });

        // 表格渲染
        table.render({
            elem: '#LAY-msp-evaluate-table',
            url: '/api/admin/msp/evaluate',
            cols: [[
                {title: '用户', field: 'username'},
                {title: '单号', field: 'orderNo'},
                {title: '项目', field: 'projectName'},
                {title: '店铺', field: 'shopName'},
                {title: '艺人', field: 'servicername'},
                {title: '状态', templet: '#stateTpl'},
                {title: '评价时间', field: 'initTime'},
                {title: '操作', align: 'center', toolbar: '#LAY-msp-evaluate-toolbar'}
            ]],
            page: true,
            text: {none: '暂无相关数据！'}
        });

        // 表格监听 工具条
        table.on('tool(LAY-msp-evaluate-table)', function (obj) {
            let data = obj.data;
            // 图片
            if (obj.event === 'img') {
                layer.photos({
                    photos: {data: [{src: '/api' + data.image}]}
                });
            }
            // 修改
            if (obj.event === 'edit') {
                data.FORM_TYPE = 'put';
                // 打开身份详情
                openMspShopPopup(data);
            }
        });

        // 监听 添加按钮
        $('#LAY-msp-evaluate-add').on('click', function () {
            // 打开订单详情
            openMspShopPopup({FORM_TYPE: 'post', parentId: '0'});
        });

        // 打开订单详情
        function openMspShopPopup(data) {
            admin.popup({
                title: '订单详情',
                area: ['907px', ''],
                offset: '100px',
                id: 'LAY-msp-evaluate-popup',
                success: function (layero, index) {
                    console.log(data);
                    view(this.id).render('msp/evaluate/form', data).done(function () {
                        let formData = new FormData();

                        //折叠面板
                        element.render({});

                        //时间选择器
                        laydate.render({
                            elem: '#initTime',
                            type: 'datetime',
                            format: 'yyyy-MM-dd HH:mm:ss'
                        });

                        // 表单渲染
                        form.render(null, 'LAY-msp-evaluate-form2');

                        // 表单监听 保存按钮
                        form.on('submit(LAY-msp-evaluate-save)', function (obj) {
                            let field = obj.field; //获取提交的字段

                            for (let name in field) {
                                /*if (name == 'initTime') {
                                } else if (name == 'detail') {
                                } else*/
                                formData.set(name, field[name]);
                            }

                            admin.req({
                                url: '/api/admin/msp/evaluate',
                                type: data.FORM_TYPE,
                                data: formData,
                                contentType: false,
                                processData: false,
                                done: function (res) {
                                    layer.close(index);
                                    layer.msg(res.msg, {icon: 1});
                                    $('#LAY-msp-evaluate-search').click();
                                }
                            });
                        });

                        // 监听 返回按钮
                        $('#LAY-msp-evaluate-popup').on('click', '#LAY-msp-evaluate-return', function () {
                            // 执行关闭
                            layer.close(index);
                        });
                    });
                }
            });
        }

    });
</script>