<title>订单管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a>
            <cite>系统管理</cite>
        </a>
        <a>
            <cite>订单管理</cite>
        </a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="LAY-msp-evaluate-form">
            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">用户信息</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="username" placeholder="请输入用户信息"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">单号</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="orderNo" placeholder="请输入单号" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">项目名</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="projectName" placeholder="请输入项目名"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">消费店铺</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="shopName" placeholder="请输入店铺名"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">艺人信息</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" name="servicername" placeholder="请输入艺人信息"
                               type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label" style="width: auto">展示状态</label>
                    <div class="layui-input-inline">
                        <select name="state">
                            <option value="">不限</option>
                            <option value="yes">展示</option>
                            <option value="no">隐藏</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline" style="vertical-align: bottom;">
                    <button class="layui-btn" id="LAY-msp-evaluate-search" lay-filter="LAY-msp-evaluate-search"
                            lay-submit>搜索
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn" id="LAY-msp-evaluate-add">添加</button>
            </div>

            <table id="LAY-msp-evaluate-table" lay-filter="LAY-msp-evaluate-table"></table>

            <script id="imageTpl" type="text/html">
                <img style="height: 100%;" src="{{ '/api' + d.project.projectImage }}" alt="" lay-event="img">
            </script>
            <script id="orderNoTpl" type="text/html">
                {{   d.order.orderNo }}
            </script>
            <script id="usernameTpl" type="text/html">
                {{   d.user.username }}
            </script>
            <script id="projectNameTpl" type="text/html">
                {{   d.project.projectName }}
            </script>
            <script id="shopNameTpl" type="text/html">
                {{   d.shop.shopName }}
            </script>
            <script id="servicerNameTpl" type="text/html">
                {{   d.servicer.username }}
            </script>
            <script id="stateTpl" type="text/html">
                {{# let state = d.evaluateState; }}
                {{# if (state === 'yes') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">展示</button>
                {{# } else if (state === 'no') { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">隐藏</button>
                {{# } else { }}
                <button class="layui-btn layui-btn-xs layui-btn-primary">未知</button>
                {{# } }}
            </script>
            <script id="LAY-msp-evaluate-toolbar" type="text/html">
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'table', 'upload', 'element', 'laydate'], function () {
        let $ = layui.$,
            view = layui.view,
            admin = layui.admin,
            form = layui.form,
            table = layui.table;
        let upload = layui.upload;
        var element = layui.element;
        var laydate = layui.laydate;

        // 表单渲染
        form.render(null, 'LAY-msp-evaluate-form');

        // 表单监听 搜索按钮
        form.on('submit(LAY-msp-evaluate-search)', function (obj) {
            // 执行重载
            table.reload('LAY-msp-evaluate-table', {
                where: obj.field
            });
        });

        // 表格渲染
        table.render({
            elem: '#LAY-msp-evaluate-table',
            url: '/api/admin/msp/evaluate',
            cols: [[
                {title: '单号', width: 186, templet: '#orderNoTpl'},
                {title: '用户', templet: '#usernameTpl'},
                {title: '项目', width: 40, templet: '#imageTpl'},
                {title: '项目名', templet: '#projectNameTpl'},
                {title: '店铺', templet: '#shopNameTpl'},
                {title: '艺人', templet: '#servicerNameTpl'},
                {title: '状态', width: 60, templet: '#stateTpl'},
                {title: '评价时间', field: 'initTime'},
                {title: '内容', field: 'evaluateDetail'},
                {title: '操作', align: 'center', toolbar: '#LAY-msp-evaluate-toolbar'}
            ]],
            page: true,
            text: {none: '暂无相关数据！'}
        });

        // 表格监听 工具条
        table.on('tool(LAY-msp-evaluate-table)', function (obj) {
            let data = obj.data;
            // 图片
            if (obj.event === 'img') {
                layer.photos({
                    photos: {data: [{src: '/api' + data.image}]}
                });
            }
            // 修改
            if (obj.event === 'edit') {
                data.FORM_TYPE = 'put';
                // 打开身份详情
                openMspShopPopup(data);
            }
        });

        // 监听 添加按钮
        $('#LAY-msp-evaluate-add').on('click', function () {
            // 打开订单详情
            openMspShopPopup({FORM_TYPE: 'post', parentId: '0'});
        });

        // 打开订单详情
        function openMspShopPopup(data) {
            admin.popup({
                title: '订单详情',
                area: ['907px', ''],
                offset: '10px',
                id: 'LAY-msp-evaluate-popup',
                success: function (layero, index) {
                    console.log(data);
                    view(this.id).render('msp/evaluate/form', data).done(function () {
                        let formData = new FormData();

                        //折叠面板
                        element.render({});

                        //时间选择器
                        laydate.render({
                            elem: '#initTime',
                            type: 'datetime',
                            format: 'yyyy-MM-dd HH:mm:ss'
                        });

                        var multiple_images = [];
                        if (!!data && !!data.evaluateBanner) {
                            multiple_images = data.evaluateBanner.split(";");
                        }
                        upload.render({
                            elem: '#LAY-msp-evaluate-banner',
                            multiple: true,
                            auto: false,
                            accept: 'images',
                            acceptMime: 'image/*',
                            choose: function (obj) {//预读本地文件示例，不支持ie8
                                obj.preview(function (index, file, result) {
                                    $('#div-slide_show').append('<a><img src="' + result + '" alt="' + file.name
                                        + '" title="点击删除" class="layui-upload-img" width="160" height="160" name="delMultipleImgs"></a>');
                                    multiple_images.push(file);
                                });
                            }
                        });

                        $(document).on("click", "[name=delMultipleImgs]", function (e) {
                            var this_img = $(this);
                            var subscript = $("#div-slide_show img").index(this_img); //获取下标
                            this_img.parent().remove(); //删除图片
                            multiple_images.splice(subscript, 1); //删除数组
                            multiple_images.sort(); //重新排序

                        });

                        $(document).on("click", "#LAY-msp-evaluate-upload-del", function (event) {
                            $('#LAY-msp-evaluate-image').attr('src', ' ');
                            formData.set('imageFile', '');
                        });

                        // 表单渲染
                        form.render(null, 'LAY-msp-evaluate-form2');

                        // 表单监听 保存按钮
                        form.on('submit(LAY-msp-evaluate-save)', function (obj) {
                            let field = obj.field; //获取提交的字段

                            for (let name in field) {
                                formData.set(name, field[name]);
                            }

                            formData.delete('bannerFiles');
                            multiple_images.forEach(function (file) {
                                formData.append('bannerFiles', file, file.name);
                            });

                            formData.delete('evaluateBanner');
                            var evaluateBanner = "";
                            $('[name=evaluateBanner]').each(function () {
                                evaluateBanner += $(this).val() + ";";
                            });
                            formData.set('evaluateBanner', evaluateBanner);

                            admin.req({
                                url: '/api/admin/msp/evaluate',
                                type: data.FORM_TYPE,
                                data: formData,
                                contentType: false,
                                processData: false,
                                done: function (res) {
                                    layer.close(index);
                                    layer.msg(res.msg, {icon: 1});
                                    $('#LAY-msp-evaluate-search').click();
                                }
                            });
                        });

                        // 监听 返回按钮
                        $('#LAY-msp-evaluate-popup').on('click', '#LAY-msp-evaluate-return', function () {
                            // 执行关闭
                            layer.close(index);
                        });
                    });
                }
            });
        }

    });
</script>